.hero .content,
.hero .gallery {
  text-align: center;
  display: inline-block;
  width: calc(50% - 27px);
  margin: 12px;
}

.hero .content {
  width: 100%;
  max-width: 700px;
}

.hero .content > h1 {
  font-family: "Sora";
  font-weight: 800;
  font-size: 64px;
  line-height: 82px;
  letter-spacing: 0.06em;
  color: var(--white-2);
  margin-bottom: 72px;
}

.hero .content > form {
  background-color: var(--white);
  border-radius: 80px;
  padding: 12px 20px;

  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr;
  gap: 24px;
  align-items: center;
}

.hero .content > form > input {
  border: none;
  padding: 0 12px;
  width: 100%;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.055em;
  color: var(--black);
}

.hero .content > form > button {
  padding: 16px 24px;
  background-color: var(--black);
  border-radius: 100px;
  border: none;
  color: var(--main);

  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.055em;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.hero .gallery {
    display: grid;
    grid-template-columns: 256px 60px 256px ;
    grid-template-rows: 282px 282px ;
    gap: 24px;
}

.hero .gallery .wrapper:nth-child(1) {
  grid-column: 1 / 3;
}

.hero .gallery .wrapper:nth-child(4) {
  grid-column: 2 / 4;
}

 .hero .gallery .wrapper {
  border-radius: 32px;
  overflow: hidden;
  display: inline-block;
}

/* ikinci,ucuncu */
/* .hero .gallery .wrapper {
  width: 250px;
  height: 282px;
} */
/* birinci,dorduncu */
/* .hero .gallery .wrapper:first-child,
.hero .gallery .wrapper:last-child {
  width: 316px;
  height: 282px;
} */ 
/* 1, 2 */
/* .hero .gallery .wrapper:first-child,
.hero .gallery .wrapper:nth-child(2) {
  margin-bottom: 12px;
}
.hero .gallery .wrapper:nth-child(3),
.hero .gallery .wrapper:nth-child(4) {
  margin-bottom: 12px;
}

.hero .gallery .wrapper:nth-child(1),
.hero .gallery .wrapper:nth-child(3) {
  margin-right: 12px;
}
.hero .gallery .wrapper:nth-child(2),
.hero .gallery .wrapper:nth-child(4) {
  margin-left: 12px;
} */

.hero .gallery .wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
