@import url('./fonts/style.css');

body {
  background-color: black;
  color: #ffffff;
  font-family: 'Neue Machina', sans-serif;
}

header > .logo > a {
    color: #72fdf5;
    text-decoration: none;
}
