@import url("./fonts/style.css");
@import url("./variables.css");
@import url("./header.css");
@import url("./hero.css");

body {
  background-color: black;
  color: #ffffff;
  font-family: "Neue Machina", sans-serif;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
