@import url("./fonts/style.css");
@import url("./variables.css");
@import url("./header.css");
@import url("./hero.css");

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #ffffff;
  font-family: "Neue Machina", sans-serif;
}

button {
  cursor: pointer;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.vertical-line {
  display: inline-block;
  height: 41px;
  width: 1px;
  background-color: var(--black-80);
}